* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: black;
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: white;
    text-decoration-color: black;
}
.header {
    height: 70px;
    width: 100%;
    top: 0px;
    display: flex;
}
.search_box {
    height: 60px;
    width: 200px;
    padding-top: 30px;
    display: flex;
}
.search_box .search {
    height: 30px;
    width: 160px;
}
.search_box .icon {
    background-color: aliceblue;
    width: 30px;
    height: 30px;
}
.logo .shop_icon {
    height: 100%;
    width: 70px;
}
.header .link {
    height: 100%;
    width: 1000px;
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
    padding-right: 100px;
}
.header .link .item {
    height: 100%;
    width: 100px;
    font-size: medium;
    text-decoration: none;
    color: black;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.header .cart,
.user {
    height: 40px;
    width: 40px;
    margin-left: 20px;
    margin-top: 20px;
}
.fa-cart-shopping::before {
    content: "\f07a";
    font: var(--fa-font-solid);
    font-size: medium;
}

.fa-user::before {
    content: "\f07a";
    font: var(--fa-font-solid);
    font-size: medium;
}
.footer {
    display: flex;
    height: 150px;
    background-color: #339999;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.get_help .title {
    width: 100px;
    font-weight: bold;
}
.about_store .title {
    width: 100px;
    font-weight: bold ;
}
.footer .link {
    display: flex;
    width: 1000px;
    align-items: center;
    justify-content: center;
}
.about_store .title {
    font-size: small;
}
.footer .get_help .title {
    font-size: small;
}
.footer .icon {
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .icon .item {
    width: 50px;
}
.fa-facebook-square:before {
    content: "\f082";
    font: var(--fa-font-brands);
    font-size: x-large;
}
.fa-instagram-square:before {
    content: "\e055";
    font: var(--fa-font-brands);
    font-size: x-large;
}
.fa-twitter-square:before {
    content: "\f081";
    font: var(--fa-font-brands);
    font-size: x-large;
}
.fa-mail-bulk::before {
    content: "\f674";
    font: var(--fa-font-solid);
    font-size: x-large;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.intro {
    height: 500px;
    width: 100%;
    background-image: url("home_page_img1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sale {
    height: 300px;
    width: 300px;
    color: white;
    position: absolute;
}
.sale .sale1 {
    font-size: 100px;
}
.sale .sale2 {
    height: 100px;
    font-size: xx-large;
}
.reference {
    height: 700px;
    width: 100%;
    display: flex;
    margin-top: 10px;
}

.woman {
    position: relative;
    width: 70%;
}

.woman img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.man {
    position: relative;
    width: 30%;
    border-left: 3px solid white;
}

.man img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.text {
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 100px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
}